.App-menu a {
  text-decoration: none;
  color: white;
}

.App-menu span {
  display: block;
  margin: 10px;
}

.App-menu {
  min-width: 30%;
  background-color: #4d78e8;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: white;
}

.Menu-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.Menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
