p {
  margin: 0;
  margin-bottom: 10px;
}

.Content-Header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: 20px;
}

.Commit-list {
  display: flex;
  flex-direction: column;
}

.Commit {
  display: flex;
  padding: 20px;
  border-top: 2px solid grey;
}

.Commit-author-image {
  border-radius: 5px;
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  margin-right: 30px;
}

.Commit-data {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Commit-date {
  align-self: flex-end;
}
